nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.hero {
    text-align: center;
    display: block;
}

#quiz {
    display: none;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}

#quiz-results {
    display: none;
}

#high-scores {
    display: none;
}