/* clear any browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy-blue: #364f6b;
    --grey: #b9b7b7;
    --light-grey: #efefef;
    --berry-pink: #b72c56;
    --serif: Georgia, serif;
    --sans-serif: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;   
}

h1 {
    font-family: var(--sans-serif);
    font-size: 40px;
    padding: 0 10px 30px;
}

h3 {
    font-family: var(--sans-serif);
    font-size: 28px;
    line-height: normal;
    padding-bottom: 15px;
}

p {
    font-family: var(--serif);
    font-size: 18px;
}

/* header/nav start */
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.view-scores {
    color: var(--berry-pink);
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.view-scores:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--berry-pink);
}
/* header/nav end */

/* hero start */
.hero {
    text-align: center;
    display: block;
    padding-top: 80px;
}

.hero p {
    line-height: normal;
    padding-bottom: 22px;
    width: 60%;
    margin: 0 auto;
}
/* hero end */

/* quiz section start */
.quiz {
    display: none;
    width: 60%;
    margin: 0 auto;
    padding-top: 80px;
}

.quiz-content {
    padding-bottom: 30px;
}

.quiz-content p {
    font-size: 26px;
    line-height: normal;
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

.quiz-content button {
    width: 370px;
    text-align: left;
    margin: 8px 0;
}

button {
    display: block;
    font-size: 20px;
    font-family: var(--sans-serif);
    margin: 8px auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--navy-blue);
    color: #FFF;
}

.quiz-results {
    display: none;
    padding-bottom: 30px;
}

.quiz-results p {
    font-size: 20px;
    line-height: normal;
    padding-bottom: 10px;
    font-family: var(--sans-serif);
}

.score-form label {
    font-size: 20px;
    line-height: normal;
    font-family: var(--sans-serif);
    vertical-align: text-top;
}

.initials-input {
    height: 40px;
    width: 250px;
    padding: 5px;
    font-size: 18px;
}

.submit-btn {
    font-size: 20px;
    font-family: var(--sans-serif);
    margin: 8px auto;
    padding: 6px 20px;
    border-radius: 6px;
    border: none;
    background-color: var(--navy-blue);
    color: #FFF;
    vertical-align: middle;
    -webkit-appearance: none;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--berry-pink);
}

hr {
    border: none;
    border-bottom: 1px solid #000;
}

section .notification {
    display: none;
}

#notification {
    text-align: left;
    color: var(--grey);
    font-family: var(--sans-serif);
    font-size: 24px;
    font-style: italic;
    padding-top: 15px;
}
/* quiz section end */

/* high scores section start */
.high-scores {
    display: none;
    width: 60%;
    margin: 0 auto;
    padding-top: 80px;
}

.high-scores ol {
    list-style: inside;
    list-style-type: decimal;
    margin-bottom: 10px;
}

.high-scores li {
    padding: 10px;
    font-family: var(--sans-serif);
}

.high-scores li:nth-child(odd) {
    background-color: var(--light-grey);
}

.high-scores button {
    display: inline-block;
}

.high-scores button:nth-of-type(2) {
    margin-left: 5px;
}
/* high scores section end */

/* only on browsers with hover capability */
@media (hover: hover) {
    button:hover {
        cursor: pointer;
        background-color: var(--berry-pink);
    }
}

/* vertical tablet */
@media screen and (max-width: 1024px) {
    nav {
        padding: 30px 25px;
    }
    
    .hero p, 
    #high-scores {
        width: 80%;
    }

    .quiz {
        width: 80%;
    }
}

/* extra-small screens */
@media screen and (max-width: 414px) {
    .quiz {
        width: 100%;
        padding: 80px 25px 0;
    }

    .quiz-content button { 
        width: 100%;
    }

    .high-scores button:nth-of-type(2) {
        margin-left: 0;
    }

    .initials-input {
        width: 63%;
        font-size: 18px;
    }

    .submit-btn {
        margin-top: 15px;
    }


}
